.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.problema-container {
    background-color: #f2f2f2;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}

.problema-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.problema-input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 60%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.problema-button, a {
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.problema-output {
    background-color: #f2f2f2;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.tablas {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.problema-table {
    border-collapse: collapse;
    width: 40%;
    text-align: center;
}

.problema-table th {
    background-color: #ddd;
    border: 1px solid #bbb;
    padding: 8px;
}

.problema-table td {
    border: 1px solid #bbb;
    padding: 8px;
}
