.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formulario {
    text-align: left;
    width: 500px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
  
  .label {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .input-name, .input-edad, .input-correo {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  input[type="submit"], input[type="reset"], a{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: darkgreen;
  }
